@model AccountVM
@using TigerBank.Models.ViewModels

<div class="text-center">
    <h1 class="display-6">Transactions</h1>
     <hr />
    <dl class="row">
         <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Username)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Username)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.AccountType.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.AccountType.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.Balance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.Balance)
        </dd>
    </dl>
 </div>

       